*, ::before, ::after {
    box-sizing: border-box;
    /* border: 1px solid red */
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 4fr;
}



.sidebar {
    background-color: skyblue;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    align-content: start;
    gap: 30px;

    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}


.branding-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

/* .branding-block svg { */
/*     width: 50px; */
/*     color: green; */
/* } */

.navigation-block img,
.information-block img{
    width: 25px
}
.white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.sidebar li {
    list-style: none;
    margin-bottom: 15px;
}

.header {
    background-color: lime;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-rows: 1fr 2fr;
    padding: 0 50px 0;
}

.top-header {
    grid-row: 1/2;
 }

.bottom-header {
    grid-row: 2/3;
}

.top-header,
.bottom-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* justify-content:  */
    align-items: center;
}




main {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
}


.projects-cards {
    display: grid;
    grid-template-column: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
}

.projects-cards > p {
    grid-column: 1 / 3;
}

.card {
    width: 95%;
    height: 200px;
    border: 1px solid orange;
}

.announcements-block {
    display: grid;
    grid-template-rows: 50px repeat(3, 1fr);
}

.announcements-block > p{
    grid-row: 1/2;
}

.trending-block {
    grid-column: 2;
    grid-row: 2;
}
