*, ::before, ::after {
    box-sizing: border-box;
    /* border: 1px solid red */
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

:root {
    --profile-small: 40px;
    --profile-medium: 60px;
    --profile-big: 80px;

    --white: white;
    --dark-grey: #696969;
    --border-grey: #ccd1d8;
    --soft-grey: #e2e8f0;
}


.user-bold {
    font-weight: bold;
}


body {
    height: 100vh;
    background-color: var(--soft-grey);
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: max-content 1fr;
    /* color: var(--dark-grey); */
    line-height: 1.3;
    letter-spacing: 0.03rem;

}



.sidebar {
    background-color: darkcyan;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    align-content: start;


    font-size: 1.3rem;
    font-weight: bold;
    color: var(--white);

    gap: 20px;
    padding: 20px;
    justify-content: start;

    box-shadow: 5px 5px 8px 3px var(--border-grey);
}


.branding-block {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 10px;

    & * {
        /* border: 1px solid black; */
    }
    & img  {
        width: 75px;
    }
}

.navigation-block {

    & * {
        /* border: 1px solid  black; */
    }
}

.information-block {
    & * {
        /* border: 1px solid  black; */
    }
}

.list {
    padding: 0;
    display: grid;
    justify-content: start;
    row-gap: 10px;
    /* align-content: center; */
 
    & > li {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        align-items: end;
        gap: 15px;
    }
    
}

.white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.small-icon {
    width: 25px;
}

/* icons */

.image-container-medium {
    width: var(--profile-medium);
    height: var(--profile-medium);
}

.image-container-small {
    width: var(--profile-small);
    height: var(--profile-small);

}

.profile-icon-small {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    clip-path: circle(20px)
}

.profile-icon-medium {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    clip-path: circle(30px)
}

.profile-icon-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    clip-path: circle(40px)
}


.sidebar li {
    list-style: none;
    margin-bottom: 15px;
}

/* .shadow { */
/*     box-shadow: 5px 5px 8px 3px var(--border-grey); */
/* } */

.header {
    background-color: var(--white);
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 50px 0;
    box-shadow: 5px 5px 8px 3px var(--border-grey);
}

.top-header {
    grid-column: 1/3;
    grid-row: 1/2;
}

.bottom-header {
    grid-column: 1/3;
    grid-row: 2/3;
    padding-bottom: 20px;
}

.top-header,
.bottom-header {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
}

.searchbar {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 10px;
    & input {
        width: 95%;
        /* border-radius: 5px; */
    }
}

.user-login {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 20px;
    align-items: center;
    justify-self: end;

    & p {
        text-wrap: nowrap;
    }
}

.user {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 15px;

    & .image-square {
        width: var(--profile-big);
        height: var(--profile-big);
        grid-column: 1/2;
        grid-row: 1/3;
    }

    /* & img { */
    /*     width: 100%; */
    /*     height: 100%; */
    /*     object-fit: cover; */
    /*     object-position: 50% 50%; */
    /*     clip-path: circle(40px); */
    /* } */

    & p {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    & h2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.user-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-self: end;


    & button {
        padding: 10px 25px;;
        border-radius: 20px;
        font-weight: bold;
        color: var(--white);
        background: darkcyan;
        border: none;
        letter-spacing: 0.06rem;

    }

    
}





main {
    background-color: var(--light-grey);
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.project-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
} 

.title {
    font-size: 1.1rem;
    font-weight: bold;
}
.projects-cards {
    grid-row: 1/3;
    display: grid;
    padding: 30px;
    align-self: start;

    & > p::first-child {
        background-color: var(--soft-grey);
        align-self: end;
    }

}

.projects-cards > p {
    grid-column: 1 / -1;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 200px;
    gap: 25px;

}
.card {
    /* width: 340px;               /\*might delete*\/ */
    border-radius: 10px;
    padding: 20px 30px;
    background-color: var(--white);
    /* border: 1px solid orange; */
    border-left: 10px solid orange;
    box-shadow: 5px 5px 8px 3px var(--border-grey);
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    gap: 15px;
    & p {
        overflow: auto;
        
    }

    & > p {
        color: var(--dark-grey);
    }

    & div {
        padding: 0;
        margin: 0;
        /* background-color: orange; */
        justify-self: end;
        display: grid;
        gap: 20px;
        grid-auto-flow: column;
        
    }
}


.right-side-block {
    padding: 30px 30px 20px 0px;
    display: grid;
    /* grid-template-rows:; */
    gap: 30px;
    align-content: start;
    grid-template-rows: (auto-fit, minmax(250px, 1fr));
    div:nth-child(1n + 2) {
    }

}

.announcements-wrapper{
    background-color: var(--white);
    border-radius: 10px;
    display: grid;
    padding: 0px 20px 0px;
    box-shadow: 5px 5px 8px 3px var(--border-grey);


    & > div:nth-child(2) {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
}

.announcement {
    padding: 15px 0px;
    /* background-color: lime; */
    display: grid;
    gap: 3px;

    & p {
        height: 60px;;
        overflow: auto;
        color: var(--dark-grey);
    }
}

.small-title {
    font-size: 0.9rem;
    font-weight: bold;
}


.trending-block {
    display: grid;
    box-shadow: 5px 5px 8px 3px var(--border-grey);
}
.trending-users-wrapper {
    background-color: var(--white);
    border-radius: 10px;
    display: grid;
    padding: 20px 20px;;
    gap: 20px;
}

.trending-user {
    background-color: var(--white);
    display: grid;
    grid-template-column: 1fr 3fr;
    justify-content: start;
    column-gap: 20px;

    & * {
        /* border: 1px solid black; */
    }
    & > div {
        grid-row: 1/3;
    }
    
    & .user-hashtag {
        font-weight: 600;
    }

    & .trending-info {
        color: var(--dark-grey);
    }
}

.user-wrapper {
    display: grid;
    gap: 3px;


}
